/* TODO: Make it awesome */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  /* Sticky footer code from: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.deck h1 {
  color: black;
}

h1 {
  font-size: 2rem;
  color: #1EBEE7;
  font-weight: 700;
}

header ul {
  display: flex;
}

header li {
  padding-right: 30px;
}

#itemCount {
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #1EBEE7;
}

section {
  padding: 50px;
}

section li {
  padding: 10px;
}

.deck header {
  justify-content: center;
  padding: 0;
}

.deck h1 {
  padding-bottom: 20px;
}

.deck {
  text-align: center;
}

.col-1 {
  background-color: #1EBEE7;
}

form {
  border: 1px solid #dbdbdb;
  height: 120px;
  padding: 30px;
}

legend {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

table {
  background-color: #f2f2f2;
  margin: auto auto;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 16px 40px rgba(100, 114, 128, 0.2);
}

th,
td {
  border: 0.5px solid #dbdbdb;
  padding: 10px;
}

footer {
  background-color: rgba(46, 66, 74, 1);
  color: #1EBEE7;
  text-align: center;
  padding: 30px;
}